body {
  background-color: #333;
  font-family: sans-serif;
  margin: 0;
}
nav > ul > li > a {
  text-decoration: none;
  color: whitesmoke;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#container-main {
  flex-grow: 1;
}
.start-button {
  width: 7rem;
  height: 3rem;
  font-size: 1rem;
  cursor: pointer;
  /* padding: 1rem; */
}
